<span class="publishing-info">
  <span class="date">
    <%= show_time(@page.published_at) %>
  </span>
  <span class="author">
    <%= _(", by %s") % (@page.author ? link_to(@page.author_name, @page.author_url) : @page.author_name) %>
  </span>
<% unless @no_comments %>
  <span class="comments">
    <%= (" - %s").html_safe % link_to_comments(@page) %>
  </span>
<% end %>

<span class="followers-count">
|
<% if @page.event? %>
  <% if @page.person_followers.size > 0 %>
    <%= _("%s will attend this event.") % [ pluralize(@page.person_followers.size, _("person"))]%>
  <% else %>
    <%= _("No one attending this event yet.") %>
  <% end %>
<% else %>
  <% if @page.person_followers.size > 0 %>
    <%= _("%s following this article.") % [ pluralize(@page.person_followers.size, _("person"))]%>
  <% else %>
    <%= _("No one following this article yet.") %>
  <% end %>
<% end %>
</span>

</span>

<% if @page.display_hits? || @page.license.present? %>
  <div id='article-sub-header'>
    <% if @page.display_hits? %>
      <div id="article-hits">
        <%= n_('Viewed one time %{desc}', 'Viewed %{num} times %{desc}', @page.hits) % { :num => @page.hits, :desc => @page.archived? ? '<b>'+_('(Not countable anymore)')+'</b>' : '' } %>
      </div>
    <% end %>

    <% if @page.license.present? %>
      <div id="article-license">
        <%= _('Licensed under %s') % (@page.license.url.present? ? link_to(@page.license.name, @page.license.url, :target => '_blank') : @page.license.name) %>
      </div>
    <% end %>
  </div>
<% end %>
