<h2><%= _('Moderation options') %></h2>
<% if profile.community? %>
  <div style='margin-bottom: 1em'>
    <h4><%= _('Email Configuration:')%></h4>
  </div>
  <div style='margin-bottom: 0.5em'>
    <%= check_box(:profile_data, :profile_admin_mail_notification, :style => 'float: left') %>
    <div style='margin-left: 30px'>
      <%= _('Send administrator Email for every task') %>
    </div>
  </div>

  <div style='margin-bottom: 1em'>
    <h4><%= _('Invitation moderation:')%></h4>
  </div>
  <div style='margin-bottom: 0.5em'>
    <%= check_box(:profile_data, :allow_members_to_invite, :style => 'float: left') %>
    <div style='margin-left: 30px'>
      <%= _('Allow all members to send invitation (Default: only administrator)') %>
    </div>
    <br>
    <div class = 'invite_friends_only' >
      <%= check_box(:profile_data, :invite_friends_only, :style => 'float: left') %>
      <div style='margin-left: 30px'>
        <%= _('Allow members to invite only friends (Default: all users)') %>
      </div>
    </div>
  </div>
  <br>

  <div style='margin-bottom: 1em'>
    <%= _('New members must be approved:')%>
  </div>
  <div style='margin-bottom: 0.5em'>
    <%= radio_button 'profile_data', 'closed', 'true', :style => 'float: left' %>
    <div style='margin-left: 30px'>
      <%= _('<strong>Before</strong> joining this group (a moderator has to accept the member in pending request before member can access the intranet and/or the website).').html_safe %>
    </div>
  </div>
  <div>
    <%= radio_button 'profile_data', 'closed', 'false', :style => 'float: left' %>
    <div style='margin-left: 30px'>
      <%= _('<strong>After</strong> joining this group (a moderator can always desactivate access for users later).').html_safe %>
    </div>
  </div>
  <br>
<% end %>
<div style='margin-bottom: 1em'>
  <%= _('New articles posted by members of this group must be approved:')%>

</div>
<div style='margin-bottom: 0.5em'>
  <%= radio_button 'profile_data', 'moderated_articles', 'true', :style => 'float: left' %>
  <div style='margin-left: 30px'>
    <%= _('<strong>Before</strong> being published in this group (a moderator has to accept the article in pending request before the article be listed as a article of this group).').html_safe %>
  </div>
</div>
<div>
  <%= radio_button 'profile_data', 'moderated_articles', 'false', :style => 'float: left' %>
  <div style='margin-left: 30px'>
    <%= _('<strong>After</strong> being published in this group (a moderator can always remove publicated articles later).').html_safe %>
  </div>
</div>

<%= javascript_include_tag('invite') %>
